{% extends "/layouts/main.twig" %}

{% set active_menu = 'library' %}
{% block title p__('title', 'Library')|title %}

{% block template %}
{# Header #}
<div>
  {% include "snippets/back.twig" with {link: 'app', label: 'Dashboard'} %}

  <h1 class="mt-4">{{ __('Library') }}</h1>
</div>

{# List #}
<div class="grid gap-2 sm:gap-4 md:gap-5 sm:grid-cols-2 md:grid-cols-3">
  {% if option.features.writer.is_enabled is defined and option.features.writer.is_enabled %}
  <a href="app/library/documents"
    class="flex flex-col gap-4 box hover:border-line">
    <span
      class="avatar text-white bg-gradient-to-br from-[#FCBF49] to-[#F77F00]">
      <i class="ti ti-file-text"></i>
    </span>

    <div>
      <h3>{{ p__('heading', 'Documents') }}</h3>
      <p class="text-sm text-content-dimmed">
        {{ __('Documents created with the Writer tool') }}
      </p>
    </div>
  </a>
  {% endif %}

  {% if option.features.coder.is_enabled is defined and option.features.coder.is_enabled %}
  <a href="app/library/code-documents"
    class="flex flex-col gap-4 box hover:border-line">
    <span
      class="avatar text-white bg-gradient-to-br from-[#F099C3] to-[#E03339]">
      <i class="ti ti-code"></i>
    </span>

    <div>
      <h3>{{ p__('heading', 'Code documents') }}</h3>
      <p class="text-sm text-content-dimmed">
        {{ __('Code related documents created with the Coder tool') }}
      </p>
    </div>
  </a>
  {% endif %}

  {% if option.features.imagine.is_enabled is defined and option.features.imagine.is_enabled %}
  <a href="app/library/images"
    class="flex flex-col gap-4 box hover:border-line">
    <span
      class="avatar text-white bg-gradient-to-br from-[#E6C0FE] to-[#984CF8]">
      <i class="ti ti-photo"></i>
    </span>

    <div>
      <h3>{{ p__('heading', 'Images') }}</h3>
      <p class="text-sm text-content-dimmed">
        {{ __('Image files created with the Imagine tool') }}
      </p>
    </div>
  </a>
  {% endif %}

  {% if option.features.transcriber.is_enabled is defined and option.features.transcriber.is_enabled %}
  <a href="app/library/transcriptions"
    class="flex flex-col gap-4 box hover:border-line">
    <span
      class="avatar text-white bg-gradient-to-br from-[#30C862] to-[#00A6FB]">
      <i class="ti ti-badge-cc"></i>
    </span>

    <div>
      <h3>{{ p__('heading', 'Transcriptions') }}</h3>
      <p class="text-sm text-content-dimmed">
        {{ __('Transcriptions created with the Transcriber tool') }}
      </p>
    </div>
  </a>
  {% endif %}

  {% if option.features.voiceover.is_enabled is defined and option.features.voiceover.is_enabled %}
  <a href="app/library/speeches"
    class="flex flex-col gap-4 box hover:border-line">
    <span
      class="avatar text-white bg-gradient-to-br from-[#BCE143] to-[#30C862]">
      <i class="ti ti-volume"></i>
    </span>

    <div>
      <h3>{{ p__('heading', 'Speeches') }}</h3>
      <p class="text-sm text-content-dimmed">
        {{ __('Audio speeches created from text inputs') }}
      </p>
    </div>
  </a>
  {% endif %}

  {% if option.features.chat.is_enabled is defined and option.features.chat.is_enabled %}
  <a href="app/library/conversations"
    class="flex flex-col gap-4 box hover:border-line">
    <span
      class="avatar text-white bg-gradient-to-br from-[#00A6FB] to-[#006ABF]">
      <i class="ti ti-messages"></i>
    </span>

    <div>
      <h3>{{ p__('heading', 'Conversartions') }}</h3>
      <p class="text-sm text-content-dimmed">
        {{ __('Chat conversations created with the Chat tool') }}
      </p>
    </div>
  </a>
  {% endif %}
</div>
{% endblock %}